body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #343a40; /* Dark gray for header */
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

h2 {
    margin-top: 1.5rem;
    font-size: 2rem;
}

h3 {
    margin-top: 1.2rem;
    font-size: 1.5rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tab-content {
    display: none; /* Hide all tab content by default */
    opacity: 0; /* Start with zero opacity */
    transform: translateY(20px); /* Start position for slide effect */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Transition properties for smoothness */
}

.tab-content.active {
    display: block; /* Show active tab */
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Slide up into view */
}

footer {
    background-color: #fff;
    color: #333;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px; /* Ensure space between footer and content */
}

.btn-primary {
    margin: 0 5px;
}
